---
layout: base.njk
title: Blog
permalink: /blog/
---

<h1>Blog Posts</h1>
<div class="post-list">
  {% for post in collections.posts %}
    {% include "partials/post-card.njk" %}
  {% endfor %}
</div>
