<nav class="site-nav">
  <ul class="nav-list">
    <li class="nav-item{% if page.url == '/' %} current{% endif %}"><a href="/">Home</a></li>
    <li class="nav-item{% if page.url == '/pages/about/' %} current{% endif %}"><a href="/pages/about/">About</a></li>
    <li class="nav-item{% if page.url == '/pages/join-us/' %} current{% endif %}"><a href="/pages/join-us/">Join Us</a></li>
    <li class="nav-item{% if page.url == '/pages/signs/' %} current{% endif %}"><a href="/pages/signs/">Signs</a></li>
    <li class="nav-item{% if page.url == '/pages/safety/' %} current{% endif %}"><a href="/pages/safety/">Safety</a></li>
    <li class="nav-item{% if page.url == '/pages/contact/' %} current{% endif %}"><a href="/pages/contact/">Contact</a></li>
  </ul>
</nav>
